* {
  margin: 0;
  /*padding: 0;*/
  box-sizing: border-box;
  font-family: arial;
}

.page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.head {
  align-items: flex-start;
  justify-content: center;
}

.navbar {
  width: 100%;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c7c7c7;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid black;
}

.navbar li a:hover {
  background-color: white;
  color: black;
}

#main-header {
  text-align: center;
  font-family: impact;
  margin-bottom: 35px;
  letter-spacing: 3px;
  word-spacing: 10px;
}

h2 {
  padding: 15px 0 15px 140px;
}





/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
  p {
    margin-left: 5px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
    ul {
      margin-left: 165px;
    }
    p {
      padding: 10px 75px 10px 100px;
      text-align: justify;
    }
}
